==
function onStart()
{

    $this->addJs('assets/javascript/wavesurfer.js');
    $this->addJs('assets/javascript/audioVisualizer.js');
    
}
==
{% put scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/plugin/wavesurfer.cursor.min.js"></script>
{% endput %}




	<!--Song Name popup
	<div id="song-name" class="row">
		<div class="col-sm-12">
			<p class="song-text">Title</p>
		</div>
	</div>
	
	<div class="separator"></div>
	-->


		<div id="audio-player" class="row">
			<!--Album Cover-->
			<div class="col-sm-2 album-div">
				<img class ="album-cover" src="{{ 'assets/images/test/chremix.jpg' | theme}}"/>
			</div>
			<!--audio Visualizer-->
			<div class="col-sm-4">
				<h4 id="song-title">TITLE</h4>
				<div id="waveform" class="wave"> 
				
				</div>
			</div>

			
			
		</div>

		<!--Buttons-->
		<div class="player-button" id="play">
			<!--Play pause-->
			<img  class="player-button-image" id="play-pause" src="{{ 'assets/images/audio-visualizer/pause.png' | theme}}"/>
			
		</div>
		<div class="player-button center-block" id="like">	
			<!--download-->
			<img  class="player-button-image" src="{{ 'assets/images/audio-visualizer/download.png' | theme}}"/>
		</div>


<script>


</script>