
[latestTweet]
==
<?php
function onStart()
{
    $this->addCss('assets/css/twitter_timeline.css');
}
?>
==
<!--Pop Raffy Header-->
<div class="row" style="margin-top:10%">
	<div class="col-sm-4 col-sm-offset-4 raffy-logo">
		<img  class="img-responsive" src="{{ 'assets/images/pop-raffy-animated.gif' | theme}}"/>
	</div>
</div>

<div class="row" style="margin-top:1%; padding-bottom:20px;">

	<div class="col-sm-6">
		<p>Tour Info and stuff</p>
	</div>
	<!--Twitter Feed-->
	<div class="col-sm-4">
		<hr id="tweet-divider">
		{% component 'latestTweet' %}
	</div>
</div>