
[latestTweet]
==
<?php
function onStart()
{
    $this->addCss('assets/css/twitter_timeline.css');
}
?>
==
<!--Pop Raffy Header-->
	<div class="row" >
		<div class="col-sm-4 col-sm-offset-4 " style="margin-top:10%">
			<img  class="img-responsive " src="{{ 'assets/images/pop-raffy-animated.gif' | theme}}"/>
		</div>
	</div>


<div class="row" style="margin-top:1%;">

	<div class="col-sm-6">
		{% partial 'audioVisualizer' %}
	</div>


	<!--Twitter Feed-->
	<div class="col-sm-4" id="twitter-widget">
		<!--Twitter Header-->
		<div class="row">
			<div class="col-sm-4 col-md-2">
				<img class="twitter-header-image" src="{{ 'assets/images/social-icons/twitter.png' | theme}}"/>
			</div>
			<div class="col-sm-6 col-md-6">
				<img class="twitter-header-text" src="{{ 'assets/images/twitter-header.png' | theme}}"/>
			</div>
		</div>

		<hr id="tweet-divider">

		<div id="scroll-box">
			{% component 'latestTweet' %}
		</div>
		<script>
$(document).ready(function(){
	 
	 $('#scroll-box,html').animate({scrollTop: 800}, 25000);

});
</script>
	</div>



</div>