==
function onStart()
{
    $this->addCss('assets/css/menu.css');
    $this->addJs('assets/javascript/menuselection.js');
}
==
<div class="menu-2" onload="default_active()">

	<!--Home Icon-->
	<div class="row" >
		<img class="menu-item-2 shadowfilter" id="home-icon"  src="{{ 'assets/images/menu/home-3.png'| theme }}"/>
	</div>
	<div class="row" >
		<img class="menu-item-2 shadowfilter" id="my-story"  src="{{ 'assets/images/menu/story-2.png'| theme }}"/>
	</div>
	<div class="row" >
		<img class="menu-item-2 shadowfilter" id="soundcloud" src="{{ 'assets/images/menu/music-2.png'| theme }}"/>
	</div>
	<div class="row" >
		<img class="menu-item-2 shadowfilter" id="store"  src="{{ 'assets/images/menu/store-2.png'| theme }}"/>
	</div>

</div>