<div class="menu-2">

	<!--Home Icon-->
	<div class="row" >
		<img class="menu-item-2 shadowfilter" id="home-icon" src="{{ 'assets/images/menu/home-3.png'| theme }}"/>
	</div>
	<div class="row" >
		<img class="menu-item-2 shadowfilter" id="my-story" src="{{ 'assets/images/menu/story-2.png'| theme }}"/>
	</div>
	<div class="row" >
		<img class="menu-item-2 shadowfilter" id="soundcloud" src="{{ 'assets/images/menu/music-2.png'| theme }}"/>
	</div>
	<div class="row" >
		<img class="menu-item-2 shadowfilter" id="store" src="{{ 'assets/images/menu/store-2.png'| theme }}"/>
	</div>

</div>


<style>
.menu-2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 30vh;
    margin-left:30px;
}


.menu-item-2{
	height:70px;
	width:150px;
	opacity:.6;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;

}

.menu-header{
	margin-left:37px;
	height:100px;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}


.menu-item-2:hover{
	opacity:1;
}

</style>