<!--Seperate Menu-->
<link rel="stylesheet" type="text/css" href="{{ 'assets/css/menu.css'| theme }}">


<div class="row">
	<div class="menu">

		<!--Home Icon-->
		<div class="col-md-1 col-sm-offset-4" >
			<img class="menu-item shadowfilter" id="home-icon" src="{{ 'assets/images/menu/home.png'| theme }}"/>
		</div>

		<!--My Story Icon-->
		<div class="col-md-1" >
			<img class="menu-item shadowfilter"  id="my-story" src="{{ 'assets/images/menu/my-story.png'| theme }}"/>
		</div>

		<!--Soundcloud Icon-->
		<div class="col-md-1" >
			<img class="menu-item shadowfilter"  id="soundcloud" src="{{ 'assets/images/menu/soundcloud.png'| theme }}"/>
		</div>

		<!--Store Icon-->
		<div class="col-md-1" >
			<img class="menu-item shadowfilter"  id="store" src="{{ 'assets/images/menu/store.png'| theme }}"/>
		</div>

	</div>
</div>

<style>


.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 150px;
}

.menu-item{
	height:150px;
	width:150px;
	opacity:.6;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;

}

.menu-item:hover{
	opacity:1;
}

.shadowfilter {
	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	
}.shadowfilter#my-story:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}

.shadowfilter#home-icon:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(201, 133, 185, 0.8));
}

.shadowfilter#soundcloud:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(251, 173, 24, 0.8));
}

.shadowfilter#store:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 255, 30, 0.8));
}





</style>