
/*album and wave row*/
#audio-player{


	background:rgba(255,255,255,.4);
	border-radius:20px;
	padding:5px;
	position:absolute;
	margin-top:32vh;
	margin-left:5vw;
	width:360px;
	height:60px;

	

}

/*song name popup*/
#song-name{
	opacity:0;
	background:rgba(255,255,255,.4);
	border-radius:20px;
	margin-bottom:10px;
	height:40px;
}


/*id for song name in row frame*/
#song-title{
	font-family: 'Cuprum', sans-serif;
	font-size:25px;
	font-style:bold;
	color:black;
	/*before*/
	opacity:0;
	margin-left:50px;
}

/*cover of album*/
.album-cover{
	/*before*/
	height:60px;
	width:60px;
	margin-top:-5px;/*48px;*/
	margin-left:0px;
}
.wave{
	width:15vw;
	margin-left:10px;

	/*before*/
	margin-top: -52px;
}

.separater{
	height:5px;
}

.song-text{
	font-size:30px;
}

.hide-div{
	height:1px;
}