#player-widget{
	width:420px;
	margin-top:20vh;
	
}


/*album and wave row*/
#audio-player{


	background:rgba(255,255,255,.4);
	border-radius:10px;
	padding:5px;
	width:360px;

	/*
	position:absolute;


	height:60px;
	overflow:hidden;
	margin-top:26vh;
	margin-left:5vw;
	*/
	

}
/*
#audio-player, .container{
	margin-top:200px;
}
*/

/*id for song name in row frame*/
#song-title{

	font-family: 'Cuprum', sans-serif;
	font-size:25px;
	font-style:bold;
	color:black;
	/*before*/
	opacity:0;
	margin-left:50px;
	margin-bottom:10px;
}

/*cover of album*/
.album-cover{
	/*before*/
	position:absolute;
	height:60px;
	width:60px;
	margin-top:-5px;/*48px;*/
	margin-left:0px;

}
.wave{
	position:absolute;
	width:200px;
	margin-left:10px;

	/*before*/
	margin-top: -52px;
}

.song-text{
	font-size:30px;
}

.hide-div{
	height:1px;
}

#player-button{
	height: 36px;
	width: 36px;
	background-color: rgba(255,255,255,.4);
	border-radius: 4px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;

	
	/* Without this the buttons always stay in formation
	left: 0;
	top: 0;
	position: absolute;
	margin-left: 140px;
	margin-bottom:100px;
	margin-top:100px;
	*/
}

#like{
	margin-left: 190px;
}

.player-button-image{
	height:30px;
	width:30px;

	margin-top:2px;
	margin-left:-11px;
}

#player-row{
	margin-top:100px;
}


/* soundcloud logo*/

#soundcloud-logo{
	opacity:.4;
	width: 55px;
	margin-left: 8px;


}
