

/*divider*/
#tweet-divider{
	margin-top:0px;
	margin-bottom:0px;
	height:2px;
	color:#ffffff;
}

.twitter-text{
	position:relative;
	color:#ffffff;
	font-family: 'Fjalla One', sans-serif;
	font-size:12px;margin-top:10px;
}

.favorite-count{

	top:0;
	margin-left:40px;
	color:white;

	position:absolute;
	margin-bottom:20px;
}

.count-fire{
	z-index:-100;
	position:relative;
	max-height:60px;
	margin-left:20px;
}
#scrollable-div{
	height:10vh;
	width:10vw;
	overflow:auto;
	border-radius:15px;
	border-width:5px;
	border-color:white;
	z-index:-99;
}

#tweet{
	margin-top:0px;
	margin-bottom:0px;
}

.twitter-header-image{
	height:40px;
	margin-left:30px;
	margin-top:16px;

}

.twitter-header-text{
	color:white;

}