

/*divider*/
#tweet-divider{
	margin-top:0;
	margin-bottom:0px;
	height:2px;
	color:#ffffff;
}


.twitter-text{
	position:relative;
	color:#ffffff;
	font-family: 'Fjalla One', sans-serif;
	font-size:12px;
	margin-top:10px;
}

.favorite-count{

	top:0;
	margin-left:42px;
	color:white;

	position:absolute;
	margin-bottom:20px;
}

.count-fire{

	position:relative;
	max-height:60px;
	margin-left:20px;
}
#twitter-widget{

	right:0;
	margin-right:9vw;
	position:absolute;
	max-width:300px;
	height:350px;
	z-index:1!important;
}

/*Actual Scrollable div*/
#scroll-box{
	position:absolute;
	overflow-y: scroll;
    overflow-x: hidden;
	height:350px;
	border:4px;
	
}


#tweet{
	margin-top:0px;
	margin-bottom:0px;
}

.twitter-header-image{
	height:40px;
	margin-bottom:8px;
	margin-left:30px;

}

.twitter-header-text{
	height:40px;
	margin-bottom:8px;
	margin-left:48px;

}