<!doctype html>
<html>
<head>  
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="{{ this.page.meta_description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<link rel="shortcut icon" type="image/png" href="{{ 'assets/favicon.png'|theme }}">

	
	<!--Font-->
	<link href='http://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Jura:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet"> 

	<script src="{{ 'assets/javascript/jquery-2.1.0.min.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/bootstrap.min.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/blocs.min.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/particles.js'|theme }}"></script>
	<!--page transitions
	<script src="{{ 'assets/javascript/pagetransitions.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/modernizr.custom.js'|theme }}"></script>-->
	<!--particleJS config-->
	<script src="{{ 'assets/javascript/particleJs-config.js'|theme }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/style.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/font-awesome.min.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/css.css'|theme }}">

	<!--page transitions-->
	
	
	{%styles%}

	<title>{{ this.page.title }}</title>

</head>
<body>

<!-- Main container -->

     {% page %}

<!-- Main container END -->

{% framework extra %}
	{% framework %}
	{% scripts %}
</body>
</html>