<!doctype html>
<html>
<head>  
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="{{ this.page.meta_description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<link rel="shortcut icon" type="image/png" href="{{ 'assets/favicon.png'|theme }}">

	<script src="{{ 'assets/javascript/jquery-2.1.0.min.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/bootstrap.min.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/blocs.min.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/particles.js'|theme }}"></script>
	<!--page transitions-->
	<script src="{{ 'assets/javascript/pagetransitions.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/modernizr.custom.js'|theme }}"></script>
	<!--particleJS config-->
	<script src="{{ 'assets/javascript/particleJs-config.js'|theme }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/style.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/font-awesome.min.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/css.css'|theme }}">

	<!--page transitions-->
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/pagetransitions/animations.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/pagetransitions/component.css'|theme }}">
	
	{%styles%}

	<title>{{ this.page.title }}</title>

</head>
<body style="height:100vh;overflow:hidden!important">

<!-- Main container -->

     {% page %}

<!-- Main container END -->

{% framework extra %}
	{% framework %}
	{% scripts %}
</body>
</html>