<!doctype html>
<html>
<head>  
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="{{ this.page.meta_description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<link rel="shortcut icon" type="image/png" href="{{ 'assets/favicon.png'|theme }}">

	<script src="{{ 'assets/javascript/jquery-2.1.0.min.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/bootstrap.min.js'|theme }}"></script>

	<!--page transitions-->
	<script src="{{ 'assets/javascript/pagetransitions.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/modernizr.custom.js'|theme }}"></script>
	<!--menu selection-->
	<script src="{{ 'assets/javascript/menu-selection.js'|theme }}"></script>

	<!--page transitions-->
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/pagetransitions/animations.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/pagetransitions/component.css'|theme }}">

	{% framework extra %}
	{% framework %}
	{% scripts %}

	<title>{{ this.page.title }}</title>

	
<!-- Google Analytics -->
 
<!-- Google Analytics END -->

</head>
<body>
<!-- Main container -->

     {% partial %}

<!-- Main container END -->

<!--<canvas class="background"></canvas>-->
</body>
</html>